# Arquivo para criar na VPS em: /var/www/loja.packetloss.com.br/.env.production

MEDUSA_DATABASE_URL=postgres://user:password@127.0.0.1:5432/medusa
MEDUSA_REDIS_URL=redis://127.0.0.1:6379
MEDUSA_JWT_SECRET=change-me
MEDUSA_COOKIE_SECRET=change-me
MEDUSA_PUBLISHABLE_KEY=pk_...

MEDUSA_STORE_CORS=https://loja.packetloss.com.br
MEDUSA_ADMIN_CORS=https://loja.packetloss.com.br
MEDUSA_AUTH_CORS=https://loja.packetloss.com.br

API_DOMAIN=api.loja.packetloss.com.br
NEXT_PUBLIC_DEFAULT_REGION=br
