[Unit]
Description={{ app_title }} Medusa Backend
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}/apps/backend
Environment=NODE_ENV={{ node_env }}
EnvironmentFile={{ app_dir }}/apps/backend/.env
ExecStart=/usr/bin/pnpm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
