[Unit]
Description=Medusa Storefront
After=network.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}/apps/storefront-v2
EnvironmentFile={{ app_dir }}/apps/storefront-v2/.env.local
Environment=NODE_ENV={{ node_env }}
ExecStart=/home/nginx/.local/share/pnpm/pnpm run start
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=medusa-storefront
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
